.investment {
  .tab-content {
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 20px;
    padding: 20px;
  }

  .nav-link {
    text-align: center;
    &:hover {
      cursor: pointer;
    }

    h4 {
      font-weight: bold;
    }
  }
}