$theme-colors: (
        "primary": #00A0DE,
        "secondary": #005DB9,
        "light-gray": #EEEEEE,
        "medium-gray": #666666,
        "dark-gray": #333333
);

@import '~bootstrap/scss/bootstrap.scss';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.box {
  padding: 2rem;
}

.box h2, .box label, .box p, .box small {
  color: theme-color('medium-gray');
}